.cart-description-titles{
    display: flex;
    justify-content:space-between;
}

.cart-description-item{
    
    div{
        margin-left: auto;
    }
    .cart-description-img{
        width: 5rem;
        img{
            width: 80%;
        }
    }    
}

.cart-empty{
    display: block;
}
.cart-btn-container{
    display: flex;
    justify-content: space-around;
}