.form{
    display: flex;
    
    input{
        display: block;
        margin: 10px;
    }
}

.item-detail{
    display: flex;
    width: 80%;
    margin: 2rem;
    padding: 1rem;
    justify-content: center;
    img{
        width: 80%;
    }
}