.card-grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.banner{
    height:400px;
    width:100%;
    background-image: url("../Images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}